{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%  endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"><img src=" {% static 'img/icon/tienda.jpg' %}" width="64px" height="64px" /></a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/perruqueria">perruqueria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/producto">Tienda Alimento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/registro">Registro</a>
              </li>
              {% if user.is_authenticated %}        
              <li class="nav-item">
                <a class="nav-link" href="/mantenedor-contacto">Mantenedor Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mantenedor-registro">Mantenedor Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>              
              {% else %} 
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {% endif %}              
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{%  endblock %}
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>      
</body>
</html>